h3.trans-name {
    color: white;
    margin: 0;
}

p.trans-amount{
    color: white;
    margin: 0;
    padding: 10px 10px 0;
}

.ctn-trans {
    width: 75%;
}

.ctn-pos {
    background-color: #00bc77;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.ctn-neg {
    background-color: red;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0;
}

@media (max-width: 720px) {
    h3.trans-name {
        font-size: 16px;
    }
    .ctn-trans {
        width: 100%;
    }
    p.trans-amount{
        font-size: 14px;
    }
  }